.ErrorContainer {
    height: 88.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .__message {
        h1 {
            text-transform: uppercase;
            font-size: 6rem;
            color: $red;
        }
    }
}