$yellow: #ffe053;
$red: #d43839;
$dark: #2c2d31;
$dark-lite: #424242;
$off-white: #f5f5f2;
$light-blue: #009cda;
$gray-blue: #515959;
$light-gray: #d5d6d7;
$black: #222;
$orange:#E28C36;
$teal: #267b7e;